<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>
    	The user <%= @guest %> is interested to rent your house. Please login to our website to consult the request.
    </p>
  </body>
</html>
